<!DOCTYPE style>
{<style>}
.search {
  overflow: hidden;
  background-color:  #ecf2f9
  padding: 50px 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color:#ffffff
}
td {
    background-color:#9900ff
  }
  br {
    background-color:#9900ff
  }
td1 {
    background-color:#9900ff
  }
#list2 {
    background-color:#9900ff
  }

#list3 {
    background-color:#d8cae2
  }
#list4 {
    background-color:#432f50
  }
#list5 {
    background-color:#a74a4a
  }
#list6 {
    background-color:#afb88b
  }
  #list7{
    background-color:#7cb98e
  }
  #list8 {
    background-color:#9900ff
  }
  #list9 {
    background-color:#b84e98
  }
td2 {
    background-color:#9900ff
  }
.header {
  padding: 5px;
  text-align: center;
  background: #666699;
  color: white;
  font-size: 40px;
  font-style: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #AF0FFFF;
  p.solid {border-style: ridge;}
  border: {1px solid red};
}

#list {

  background:#0a616d
}

#myTable {

  background:#0a616d
  
}

#demo6 {

  background:#0a616d
  
}
#demo2 {

  background: #ff3333
  
}
.ali {

  text-align: right;
}
ol li {
  background: #cce5ff;
  margin: 5px;
}
figcaption {
  background-color: #99ff66;
  color: black;
  font-style: bold;
  padding: 2px;
  text-align: center;
}
.yes{
	list-style: none;
}
img {
        padding: 1px;
        border: 1px #A9A9A9;
        border-style: groove;
        background-color: #eee;
      }
li {
  float: left;}
ul {

    list-style: none
}

.search1 {
  overflow: hidden;
  background-color:  #ecf2f9
  padding: 50px 50px;
 }
.search input[type=text] {
  float: bottom;
  padding: 50px 50px;
  margin-top: 8px;
  margin-left: 15px;
  border: none;
  font-size: 25px;
  background-color: #006666
}

.search1 input [type=number] {
  float: bottom;
  padding: 50px 50px;
  margin-top: 8px;
  margin-left: 15px;
  border: none;
  font-size: 25px;
  background-color: #006666
}

.search .search-container button:hover {
  background: #ccc;
}
.search button {
  background: #2F4F4F;
  padding: 14px 20px;
  margin-left: 10px;
  border: black;
  margin-bottom:5px ;
 
}


{</style>}